.cont-title{
    margin-top: 10vh;
   
}
.section-modules{
    margin-top: 10vh;   
}
.cont-modules{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 2vh;
}

@media screen and (max-width: 768px){
    .cont-modules{
        grid-template-columns: 1fr;
        text-align: center;
    }
    
}